/* Carga de tipografías personalizadas. */
@font-face {
    font-family: majorMono;
    src: url(./assets/fonts/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont.ttf);
}

@font-face {
    font-family: jetBrainsMono;
    src: url(./assets/fonts/JetBrainsMono-VariableFont.ttf);
}

@font-face {
    font-family: nunitoSans;
    src: url(./assets/fonts/NunitoSans-VariableFont.ttf);
}

@font-face {
    font-family: varelaRound;
    src: url(./assets/fonts/VarelaRound-Regular.ttf);
}

/* Definición de constantes */
:root {
    --light: rgb(245, 245, 245);
    --light_overlay_ui: rgba(245, 245, 245, 0.7);
    --dark: rgb(20, 20, 50);
    --dark_overlay_ui: rgba(10, 10, 10, 0.8);
    --neutral_grey: rgb(130, 130, 130);
    --light_gray: rgba(0, 0, 0, 0.15);
    --light_gray_hover: rgba(0, 0, 0, 0.20);
    --dark_gray: rgba(255, 255, 255, 0.15);
    --dark_gray_hover: rgba(255, 255, 255, 0.20);
    --warning_red: rgb(150, 0, 0);

    --deep-dark: rgb(0, 0, 10);
    --accent_color_light: rgb(0, 219, 172);
    --accent_color_dark: rgb(0, 60, 88);

    --app_contrast_light: rgb(200, 200, 200);
    --app_contrast_dark: rgb(189, 21, 21);

    /* Colores del fondo */
    --background_color1: rgb(255, 255, 255);
    --background_color2: rgb(0, 107, 93);

    /* Tiempos de animación */
    --fast-animation: 0.2s;
    --normal-animation: 0.3s;

    /* Colores de las tarjetas */
    --color1: rgb(30, 35, 40);
    --color2: rgb(50, 20, 75);
    --color3: rgb(0, 100, 255);
    --color4: rgb(0, 255, 150);
    --color5: rgb(0, 175, 60);
    --color6: rgb(250, 190, 0);
    --color7: rgb(215, 60, 15);
    --color8: rgb(220, 0, 50);
    --color9: rgb(230, 10, 20);
    --color10: rgb(150, 0, 0);

    /* Valores de margen y padding */
    --big-margin: 100px;
    --big-margin-movile: 60px;
    --normal-margin: 60px;
    --normal-margin-movile: 30px;
    --narrow-margin: 30px;
    --narrow-margin-movile: 15px;
    --minimal-margin: 10px;
    --minimal-margin-movile: 5px;

    --transparent-btn-margin: 4px;
    --nano-margin: 5px;

    /* Valores de redondeo */
    --normal-radius: 18px;

    /* Redondeo exterior de un contenedor con margen minimo y elemento hijo minimo. */
    --external-radius: calc(var(--minimal-radius) + var(--minimal-margin));
    /* Redondeo exterior de un contenedor con margen estrecho y elemento hijo minimo. */
    --external-radius-2: calc(var(--minimal-radius) + var(--narrow-margin));
    /* Redondeo exterior de un contenedor con margen normal y elemento hijo minimo. */
    --external-radius-3: calc(var(--minimal-radius) + var(--normal-margin));
    /* Redondeo exterior de un contenedor con margen nano y elemento hijo normal. */
    --external-radius-4: calc(var(--normal-radius) + var(--nano-margin));
}

/* Reinicia el diseño de la página. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Estilos generales para la página web en modo claro */
body {
    font-family: inter, system-ui;
    color: var(--dark);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 1.5;
}

/* Estilos primitivos que se repiten. */
.mayus {
    text-transform: uppercase;
}

.large-text {
    font-size: 20px;
}

.nano-text {
    font-size: 12px;
}

.horizontal-flex {
    display: flex;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-elem-area {
    display: flex;
    gap: var(--minimal-margin);
}

.vertical-elem-area {
    display: flex;
    flex-direction: column;
    gap: var(--minimal-margin);
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.normal-padding {
    padding: var(--normal-margin);
}

.narrow-padding {
    padding: var(--narrow-margin);
}

.nano-padding {
    padding: var(--nano-margin) 15px var(--nano-margin) 15px;
}

.big-gap {
    gap: var(--big-margin);
}

.narrow-gap {
    gap: var(--narrow-margin);
}

.rounded {
    border-radius: var(--normal-radius);
}

.mayorMono {
    font-family: majorMono, monospace;
}

.JetBrainsMono {
    font-family: jetBrainsMono, monospace;
}

/* Hacer que el elemento dentro del flex se expanta para ocupar todo el espacio disponible. */
.flex-grow {
    flex-grow: 1;
}

.visible-on-mobile {
    display: none;
}

.invisible-on-mobile {
    display: block;
}

.reverse {
    flex-direction: row-reverse;
}

/* Elementos */
.btn {
    display: block;
    padding: 5px 10px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 12px;
    border-radius: 15px;
    border: solid 1px #3a3a3a;
    margin: 5px;
    transition: var(--normal-animation);
}

.btn:hover {
    color: #f1f1f1;
    background: #ff2828;
    border-color: #ff2828;
}

.narrow-margin {
    margin: 5px;
}

.normal-margin {
    margin: 20px;
}

.blur {
    backdrop-filter: blur(10px);
}

/* Head. Es la barra que siempre permanece arriba. */
.animated-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image:
        radial-gradient(100% 100% at calc(0% + var(--x)) calc(0% + var(--y)), var(--background_color1), var(--background_color2)),
        radial-gradient(100% 100% at calc(100% - var(--x)) calc(100% - var(--y)), var(--background_color2), var(--background_color1));
    background-blend-mode: overlay, normal;
}

.background-overlay {
    background: var(--light_overlay_ui);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.topbar {
    position: sticky;
    top: 5px;
    width: min-content;
    display: flex;
    gap: var(--minimal-margin);
    /* el texto no se wrapea. */
    white-space: nowrap;
    border-radius: 50px;
    background-color: var(--light_overlay_ui);
    font-size: 14px;
    margin: auto;
}

.topbar-button {
    display: inline-flex;
    /* mejor que flex para inline elements */
    align-items: center;
    justify-content: center;

    padding: 6px 14px;
    /* un poco más cómodo que 2px */
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    color: var(--dark);
    font: inherit;

    background-color: transparent;
    border: none;
    /* importante para igualar con button */

    cursor: pointer;
    /* esto hace que se sienta como botón */

    transition: all var(--normal-animation) ease;
}

.topbar-button:hover {
    background: var(--accent_color_dark);
    color: var(--light);
}

.topbar-button:focus {
    outline: none;
}

.topbar-button:focus-visible {
    outline: 2px solid #aaa;
}

.about-section {
    padding: 20dvh var(--normal-margin) 20dvh var(--normal-margin);
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.positive-suggestion {
    background-color: rgb(7, 75, 41);
    color: rgb(198, 255, 226);
    width: min-content;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.outline-button {
    display: inline-flex;
    /* mejor que flex para inline elements */
    align-items: center;
    justify-content: center;

    padding: 6px 14px;
    /* un poco más cómodo que 2px */
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    color: var(--dark);
    font: inherit;

    background-color: transparent;
    border: 2px solid var(--accent_color_dark);
    /* importante para igualar con button */

    cursor: pointer;
    /* esto hace que se sienta como botón */

    transition: all var(--normal-animation) ease;
}

.outline-button:hover {
    background: var(--accent_color_dark);
    color: var(--light);
    border: 2px solid var(--accent_color_dark);
}

.outline-button:focus {
    outline: none;
}

.outline-button:focus-visible {
    outline: 2px solid #aaa;
}

.outline-input {
    padding: 6px 14px;
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    color: var(--dark);
    font: inherit;

    background-color: transparent;
    border: 2px solid var(--accent_color_dark);
    /* importante para igualar con button */

    transition: all var(--normal-animation) ease;
}

.outline-input:focus {
    outline: none;
    background-color: var(--accent_color_dark);
    color: var(--light);
}

.solid-button {
    display: inline-flex;
    /* mejor que flex para inline elements */
    align-items: center;
    justify-content: center;

    padding: 6px 14px;
    /* un poco más cómodo que 2px */
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    color: var(--light);
    font: inherit;

    background-color: var(--accent_color_dark);
    border: none;
    /* importante para igualar con button */

    cursor: pointer;
    /* esto hace que se sienta como botón */

    transition: all var(--normal-animation) ease;
}

.solid-button:hover {
    background: var(--light);
    color: var(--dark);
}

.solid-button:focus {
    outline: none;
}

.solid-button:focus-visible {
    outline: 2px solid #aaa;
}

.solid-button-white {
    display: inline-flex;
    /* mejor que flex para inline elements */
    align-items: center;
    justify-content: center;

    padding: 6px 14px;
    /* un poco más cómodo que 2px */
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    color: var(--light);
    font: inherit;

    background-color: var(--dark_gray);
    border: none;
    /* importante para igualar con button */

    cursor: pointer;
    /* esto hace que se sienta como botón */

    transition: all var(--normal-animation) ease;
}

.solid-button-white:hover {
    background: var(--light);
    color: var(--dark);
}

.solid-button-white:focus {
    outline: none;
}

.solid-button-white:focus-visible {
    outline: 2px solid #aaa;
}

.outline-label {
    display: inline-flex;
    /* mejor que flex para inline elements */
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: var(--minimal-margin);
    text-decoration: none;
    /* quita el subrayado */
    font: inherit;

    background-color: transparent;
    border: 2px solid var(--neutral_grey);
}

.section-icon {
    font-size: 30px;
}

.section-container {
    display: flex;
    flex-direction: column;
    max-width: 70dvw;
    margin: auto;
}

.project-card {
    border-radius: var(--normal-radius);
    background-color: var(--color1);
    color: white;
    position: relative;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.codaby-logo {
    width: 35px;
    height: 35px;
    object-fit: cover;
    color: white;
}

.codaby-text {
    font-family: VarelaRound, system-ui;
    font-size: 35px;
}

.section-dark {
    background-color: var(--deep-dark);
    color: white;
    padding: var(--big-margin) var(--normal-margin);
    margin: auto;
}

.gray {
    background-color: var(--dark_gray);
}

.dynamic-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-video {
    /* Que el video se ajuste a su contenedor*/
    width: 45dvw;
    /* Ajusta el video sin deformarlo */
    object-fit: cover;
    border-radius: var(--normal-radius);
}

.contact-section-container {
    padding: 0 var(--normal-margin) 20dvh var(--normal-margin);
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

@media (max-width: 500px) {
    .about-section {
        padding: 20dvh var(--normal-margin-movile) 20dvh var(--normal-margin-movile);
    }

    .contact-section-container {
        padding: 0 var(--normal-margin-movile) 20dvh var(--normal-margin-movile);
    }

    .normal-padding {
        padding: var(--normal-margin-movile);
    }

    .section-dark {
        padding: var(--big-margin-movile) var(--normal-margin-movile);
    }

    .big-gap {
        gap: var(--big-margin-movile);
    }

    .medium-gap {
        gap: var(--normal-margin-movile);
    }

    .codaby-logo {
        width: 25px;
        height: 25px;
    }

    .codaby-text {
        font-size: 25px;
    }

    .dynamic-card {
        flex-direction: column-reverse;

    }

    .project-video {
        width: auto;
    }

    .section-container {
        max-width: 100dvw;
    }

    .visible-on-mobile {
        display: block;
    }

    .invisible-on-mobile {
        display: none;
    }
}

/* Estilos específicos para modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        color: var(--light);
    }

    .background-overlay {
        background: var(--dark_overlay_ui);
    }


    .topbar {
        background-color: var(--dark_overlay_ui);
    }

    .topbar-button {
        color: var(--light);
    }

    .topbar-button:hover {
        background: var(--accent_color_light);
        color: var(--dark);
    }

    .positive-suggestion {
        background-color: rgb(198, 255, 226);
        color: rgb(7, 75, 41);
    }

    .outline-button {
        color: var(--light);
        border: 2px solid var(--accent_color_light);
    }

    .outline-button:hover {
        background: var(--accent_color_light);
        color: var(--dark);
        border: 2px solid var(--accent_color_light);
    }

    .outline-input {
        background-color: transparent;
        border: 2px solid var(--accent_color_light);
        color: var(--light);
    }

    .outline-input:focus {
        outline: none;
        background-color: var(--accent_color_light);
        color: var(--dark);
    }

    .solid-button {
        background-color: var(--accent_color_light);
        color: var(--dark);
    }

    .solid-button:hover {
        background: var(--light);
        color: var(--dark);
    }
}